<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Example</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!--<link rel="stylesheet" type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    
    <!--<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>

<section>
    <div class="container md-col-12">
        <div class="row" style="padding: 40px">
            <h1>Dashboard Example</h1>
        </div>
    </div>
</section>

</head>
<body>
<!--*************************************************************************-->
<section>
    <div class="container-fluid">
    
        <div class="col-lg-12">
            
            <div class="col-lg-offset-2 col-lg-3" style="padding: 20px">
                <!--<h4>By Gender</h4>-->
                <h6>Men outnumber women by 10 to 1</h6>
                <div id="per-gender-count"></div>
            </div>
            
            <div class="col-lg-3" style="padding: 20px">
                <!--<h4>By Gender</h4>-->
                <h6>Men earn on average about 15% more than women</h6>
                <div id="per-salry-avg"></div>
            </div>
            
            <div class="col-lg-4" style="padding: 20px">
                <!--<h4>By Gender</h4>-->
                <h6>Third Chart</h6>
                <div id="per-rank-dist"></div>
            </div>
            
        </div>

    </div>
</section>
<!--*************************************************************************-->

    <script>
    
    queue()
        .defer(d3.csv, "data/salaries.csv")
        .await(makeGraphs);
    
    function makeGraphs(error, salariesData) {

        var ndx = crossfilter(salariesData);        

// -----------------------------------------------------------------------------

        var count_gender_dim = ndx.dimension(dc.pluck('sex'));
        var count_gender_measure = count_gender_dim.group().reduceCount();
        
        dc.barChart("#per-gender-count")
            .width(350)
            .height(300)
            .margins({top: 30, right: 50, bottom: 40, left: 40})
            .dimension(count_gender_dim)
            .group(count_gender_measure)
            .transitionDuration(500)
            .x(d3.scale.ordinal())
            .xUnits(dc.units.ordinal)
            .xAxisLabel("Gender")
            .yAxisLabel("Number")
            .yAxis().ticks(20)

// -----------------------------------------------------------------------------
        var rank_gender_dim = ndx.dimension(dc.pluck('sex'));
        var avg_gender_measure = rank_gender_dim.group().reduce(reduceAvgAdd, reduceAvgRemove, reduceAvgInit);
        
        function reduceAvgAdd(p, v) {
          ++p.count;
          p.total += parseInt(v.salary);
          return p;
        }
        
        function reduceAvgRemove(p, v) {
          --p.count;
          p.total -= parseInt(v.salary);
          return p;
        }
        
        function reduceAvgInit() {
          return {count: 0, total: 0};
        }

        dc.barChart("#per-salry-avg")
            .width(350)
            .height(300)
            .margins({top: 30, right: 50, bottom: 40, left: 60})
            .dimension(rank_gender_dim)
            .group(avg_gender_measure)
            .valueAccessor(function(p) { 
                return p.value.count > 0 ? p.value.total / p.value.count : 0; })
            .transitionDuration(500)
            .x(d3.scale.ordinal())
            .xUnits(dc.units.ordinal)
            .xAxisLabel("Gender")
            .yAxisLabel("Average Salary")
            .yAxis().ticks(4)

// -----------------------------------------------------------------------------

        salariesData.forEach(function(d){
          d.prof = 0;
          d.assoc_prof = 0;
          d.asst_prof = 0;
          d.not_defined = 0;
          d.total = 0;
          
          if (d.rank == "Prof") {
            d.prof = 1;
            } 
          if (d.rank == "AssocProf") {
            d.assoc_prof = 1;
            }
          if (d.rank == "AsstProf") {
            d.asst_prof = 1;
            } 
        });
        
        var xDim = ndx.dimension(function (d) { return d.sex; });
        
        var profGroup = xDim.group().reduceSum(function (d) { return d.prof; });
        var assocGroup = xDim.group().reduceSum(function (d) { return d.assoc_prof; });
        var assistGroup = xDim.group().reduceSum(function (d) { return d.asst_prof; });

        var totalsGroup = xDim.group().all();
        
        totals = {
            'Female': totalsGroup[0].value,
            'Male' : totalsGroup[1].value
        }    
        
        var stackedBarChart = dc.barChart("#per-rank-dist");

        stackedBarChart
            .width(350)
            .height(300)
            .margins({top: 30, right: 70, bottom: 40, left: 40})
            .dimension(xDim)
            .group(assistGroup, "% Assist.")
            .transitionDuration(500)
            .x(d3.scale.ordinal())
            .xUnits(dc.units.ordinal)
            .valueAccessor(function(d) {
                return d.value / totals[d.key]
            })
            .stack(assocGroup, "% Assoc.")
            .stack(profGroup, "% Prof.")
            // .legend(dc.legendText(function(d) {return d.data + ': ' + d.value;}))
            .legend(dc.legend().x(290).y(20).itemHeight(15).gap(5))
            .xAxisLabel("Gender")
            .yAxisLabel("Number")
            .yAxis().ticks(10).tickFormat(function(d) {
                return d * 100;
            })
            ;


// -----------------------------------------------------------------------------

        dc.renderAll();
    };
    </script>
<!--*************************************************************************-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
</body>
</html>